spacy
numpy
pandas
sklearn
spacy
tqdm
sklearn_crfsuite
pandas
nltk
git+https://github.com/guillaumegenthial/tf_metrics.git
tensorflow==2.5.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz